{% extends 'base.html.twig' %}

{% block title %} Remplissez votre cv en quelques etapes!{% endblock %}
{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="../css/cv-form.css">
{% endblock %}
{% block body %}
<div id="notifi">
  Bon remplissage <b>{{ app.user.nom |upper }}</b>
</div>
    <section class="box feature ">
       <div class="container">
              

             
       <form method="post" action="{{ path('save_cv') }}" enctype="multipart/form-data" class="jumbotron col-md-12" id="">

                
                <div id="profiler col-md-12"></div>
                <div id="sender"></div>

                <div id="init">

                <fieldset id="f2">
                    <legend id="l2" class="col-md-3">informations personnelles</legend>
                  <input type="text" name="nom" class="form-control col-md-6" value="{{ app.user.nom }}" id="in" placeholder="nom" />
                  <input type="text" name="prenom" class="form-control col-md-5 in" value="{{ app.user.prenom }}" id="in" placeholder="prenom" />
                  <br /><br />
                  <input type="text" name="titre_pro" class="form-control col-md-6 in" value="" id="in" placeholder="titre professionnel" />

                  <input type="text" name="adresse_post" class="form-control col-md-5 in" value="" id="in" placeholder="adresse postal" />
                  <br /><br />

                  <input type="text" name="code_post" class="form-control col-md-6 in" value="" id="in" placeholder="code postal" />

                  <input type="text" name="phone" class="form-control col-md-5 in" value="" id="in" placeholder="numero de telephone" />
                  <br /><br />
                   <input type="email" name="email" class="form-control col-md-11 in" value="{{ app.user.email }}" id="in" placeholder="email" />
                </fieldset>
    <br /><br />
    <fieldset id="f3">
   <legend id="l3" class="col-md-3"> Parcours proffessionnelle</legend>

                <input type="text" name="intitule" class="form-control col-md-6 in" value="" id="in" placeholder="intitule de post (ex: chef de projet)" />

                <input type="text" name="ville" class="form-control col-md-5 in" value="" id="in" placeholder="Ville (ex: Douala)" />

                <br /><br />

                date de debut<br /><input type="date" name="date_debut" class="form-control col-md-6 in" value="" id="in" placeholder="date de debut" />

                 <input type="text" name="employeur" class="form-control col-md-5 in" value="" id="in" placeholder="employeur(ex:Kiro game)" />

                 <br /><br />

                 <input type="text" name="departement" class="form-control col-md-11 in" value="" id="in" placeholder="departement (ex: Moungo)" />

                 <br /><br />date de fin<br /><input type="date" name="date_fine" class="form-control col-md-11 in" value="" id="in" placeholder="" />

                 <br /><input type="checkbox" name="travailActu" id="travailActu" /> <label for="travailActu" style="display:inline;">j'y travaille actuellement </label>
               
               <br /><br />
                    quel etait (ou sont) vos responsabilites <br /> decrivez les dans le champ ci-dessous <br /><br />

                      <textarea name="description_respon" class="form-control col-md-11 in" placeholder="decrivez par tirets ou numero"></textarea><br /><br />
                      <hr />
                      <a href="#" class="btn btn-warning "> Ajouter un autre parcours</a>
        </fieldset>
        <br /><br />
                      
                      <fieldset id="f">
                        <legend id="l" class="col-md-3"> <h3 style=" display:inline; color:white;">Formation</h3> </legend>
                       <input type="text" class="form-control col-md-6 in" placeholder="nom de l'etablisement " name="etablisement" id="in" />

                       <input type="text" class="form-control col-md-5 in" id="in" placeholder="diplome(ex:licence en art)" name="diplome" />
                       <br />

                       <br /><input type="text" class="form-control col-md-6 in" placeholder="Domaine d'etude(ex:economie)" name="domaine_etude" id="in" />

                       <input type="text" class="form-control col-md-5 in" placeholder="zone geographique de l'etablisement(ex:Douala)" id="in" name="zone_geographique" /><br /><br />

                       <input type="text" class="form-control col-md-11 in" placeholder="Annee d'obtention(Ex: 2015)" id="in" name="domaine_etude" />
                        <hr />
                          <legend> <a href="#" class="btn btn-warning ">ajouer une autre formation</a> </legend>
                      </fieldset>
    <br /><br />
    <fieldset id="f4">
      <legend id="l4" class="col-md-4">Note professionnel</legend>
      Decrivez vos competences dans le champ ci-dessous
      <textarea name="competences" class="col-md-11 form-control in" placeholder="decrivez en tirets ou en points"></textarea><br /><br />
                                   
                              
        Decrivez votre profile professionnel ci-dessous<br /><br />
      <textarea name="profilePro" class="col-md-11 form-control in" placeholder="decrivez en tirets ou en points"></textarea><br />
      <br /> <!-- votre photo de profil<input type="file" class="form-control col-md-11 in" name="pdp" /><br /> -->
     </fieldset>
      <br />'


      <br /><br />
 <button class="btn btn-primary col-md-5" type="submit" id="etapeur">Voir un appercu de votre cv <span class="fa fa-plus"></span></button>

                </div>
                   

              </form>

            </div>

       
       <br /><br />
    </section>
<style>
  #in{
  	display: inline;
    height: 70px;
  }
</style>

               
                                   
                   


{% endblock %}